.delete-card{
    width: 20rem;
    background-color: #D5F4F4;
    border-radius: 2rem;
    display: flex;
    flex-direction: row;
    margin: 2rem;
    max-height: 10rem;
}

.delete-button{
    width: 3rem;
    height: 3rem;
    background-color: #cfe86a;
    font-family: "Poppins",sans-serif;
    font-weight: 600;
    top: 1.5rem;
    left: 5rem;
    position: relative;
    border: 0.08rem solid #454441;
    border-radius: 50%;
    box-shadow: #3e3d3d 2px 2px 0 0;
    transform: translate(2px, 2px);
    cursor: pointer;
    text-align: center;
}
.delete-icon{
    height: 90%;
    width: 90%;
    margin-top: 0.1rem;
    padding: 0;
    
}
.card-text{
    left: 0;
    font-family: "Poppins",sans-serif;
    font-weight: 600;
    font-size: 1rem;
    max-width: 8rem;
   text-align: start;
   margin-left: 1.5rem;
}


