.card{
    width: 20rem;
    background-color: #D5F4F4;
    border-radius: 2rem;
    display: flex;
    flex-direction: row;
    margin: 2rem;
}

.transformButton{
    width: 6rem;
    height: 2.3rem;
    background-color: #D9D9D9;
    font-family: "Poppins",sans-serif;
    font-weight: 600;
    top: 4rem;
    left: 1rem;
    position: relative;
    border: 0.08rem solid #454441;
    border-radius: 1rem;
    box-shadow: #3e3d3d 2px 2px 0 0;
    transform: translate(2px, 2px);
    cursor: pointer;
    text-align: center;
}
.text{
    left: 0;
    font-family: "Poppins",sans-serif;
    font-weight: 400;
   text-align: start;
   margin-left: 1rem;
}

