body{
    display: grid;
    padding: 0;
}
.search{
    display: flex;
    flex-direction: row;
    justify-content: center; 
    width: inherit;
    margin-top: 1rem;
}

.headerEhotel{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    height: 5rem;
    font-family: 'Poppins';

}

.eHotel{
    margin-left: 1rem;
    font-size: 2.2rem;
    font-weight: 600;
    color: #2B2996;
}

.bookingMadeEasy{
    font-size: 1.5rem;
    margin-left: 0.2rem;
    color: #797878;
    font-weight: 100;
}

.filters{
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 0.5rem;
    border: solid 1.5px #ACACAC;
    box-shadow: 0.05rem 0.05rem #E2E0E0;
    width: 8rem;
    height: 3rem;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    margin-left:41rem;
    cursor: pointer;
}

.filterText{
    font-family: 'Poppins';
    font-size: 1.3rem;
    font-weight: 200;
}

.filterIcon{
    height: 1.8rem;
    width: 1.8rem;
}

.filterDiv{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.roomCardsContainer{
    width: max-content;
    margin-inline: auto;
    height: fit-content;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5em;
}

.popup{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-self: center;
    justify-self: center;
    z-index: 3;
}

.popupreserve{
    position: absolute;
    display: flex;
    justify-self: center;
    z-index: 3;
    margin-top: 40%;
}

.darkenBackground{
    position: absolute;
    height: 100vh;
    width: 100vw;
    opacity: 30%;
    background-color: black;
}

.no-scroll {
    overflow: hidden;
  }
.view-button{
    width: 6rem;
    height: 3rem;
    border-radius: 10px;
    background-color: black;
    color: white;
    border: none;
    font-family: 'Poppins' sans-serif;
    margin-top: 1rem;
    margin-bottom: 20px;
    cursor: pointer;
}