.image-div{
    top: 0;
    left: 0;
    width: 100vw;
    height: 30rem;
}
.image-hotel{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 70%;
}

.employee-cards{
    height: 100%;
    background-color: #E8E3E3;
    top: 10 rem;
    width: 100vw;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    
}