:root{
    background-color: white;
}
.image-div{
    width: 100vw;
    top:0;
    left: 0;
    padding: 0;
    height: 20rem;
    margin-left: -0.5rem;
}
.location-image{
    object-fit: cover;
    opacity: 50%;
    width: 100%;
    height: 100%;
}
.cards-location{
    margin-top: 0.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
}
.location-button{
    margin-bottom: 3rem;
    width: 8rem;
    height: 3rem;
    background-color: #FC9163;
    font-family: "Poppins",sans-serif;
    font-weight: 600;
    font-size: 0.9rem;
    left: 35rem;
    bottom: 1rem;
    position: relative;
    border: 0.08rem solid #454441;
    border-radius: 1rem;
    box-shadow: #3e3d3d 2px 2px 0 0;
    transform: translate(2px, 2px);
    cursor: pointer;
    text-align: center;
}