*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
 
.img-container {
    max-width: 75vw;    
    max-height: 100vh;
    overflow: hidden;
    opacity: 0.5;
}

.img {
    height: 100%;
    width: 75vw;
}

.page{
    display: flex;
}

.login-container{
    width: 25vw;
    height: 100vh;
}

.login-text {
    margin-top: 15rem;
    font-size: 2.5rem;    
    font-family: Poppins;
    font-weight: 500;
}

.radiogroup{
    margin-top: 4rem;
}

.enter-NAS {
    margin-top: 4rem;
    font-family: "Poppins";
    font-size: 1rem;
}

.button-field-container {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    padding-inline: 8rem;
    align-items: end;

}

.go-button {
    background-color: black;
    border-radius: 10px;
    width: 5rem;
    height: 3rem;
    margin-top: 1.5rem;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.arrow {
    transform: scaleX(0.6);
    transform: scaleY(0.9);
}

.error-text {
    color: red;
    margin-top: 2rem;
    font-family: 'Poppins', sans-serif;
    text-align: start;
    font-size: 0.8rem;
}

.emp-btn{
    margin-top: 3rem;
    width: 5rem;
    height: 3rem;
    border-radius: 10px;
    background-color: black;
    color: white;
    font-family: 'Poppins', sans-serif;
}