.image-div{
    width: 100vw;
    top:0;
    left: 0;
    padding: 0;
    margin: 0;
    opacity: 50%;
}
.reservation-image{
    object-fit: cover;
    width: 100%;
    height: 25rem;
}
.cards-reserv{
    background-color: #e9fafc;
    height: 100%;
    margin-top: 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
   
