.icon{
    stroke: #ACACAC;   
    stroke-width: 3px;
    width: 19rem;
    height: 20rem;
    border: solid 1.5px #ACACAC;
    border-radius: 0.8rem;
    box-shadow: 0.05rem 0.05rem #E2E0E0;
    cursor: pointer;
}

.icon:hover{
    border: solid 2px #FFDE33;
}

.text{
    display: flex;
    flex-direction: column;
    align-items:flex-end ;
    margin-right: 1rem;
    font-size: 1.2rem;
    font-family: 'Poppins';
    font-weight: 300;
}

.roomImage{
    margin-top: 1rem;
    width: 17rem;
    height: 10rem;
}

.hotelName{
}

.roomNumber{
}

.price{
}

.numberPeople{
}

.people{
    display: flex;
    flex-direction: row;
}
.personIcon{
    height: 1.5rem;
    margin-left: 0.5rem;
}