.card-emp{
    width: 19rem;
    height: 20em;
    background-color: white;
    border-radius: 1rem;  
    margin: 2rem; 
    position: relative;
}
.image{
    width: 4rem;
    margin-left:-6.3rem ;
    margin-top: 3rem;
    position: absolute;
}
.card-emp p{
    font-family:"Poppins",sans-serif;
    font-weight: 500;
    font-size: 2rem;
    bottom: 0; 
    left: 0; 
    position: absolute; 
    margin-left: 2rem;
    margin-bottom: 4rem;
}